@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   
  
}

@media (max-width : 400px){


  html,body{
    overflow-x: hidden;
  }
}





/* Landing section styling */
#landing{
    text-align: center;
    background-color: #232741;
    position: relative;
    margin: 0;
    height: 90vh;

    z-index: -1;
   
    
}

#landing span{
    text-align: left;
    font-size: 40px;
    margin-right: 2%;
}

.container-custom{
    text-align: center;
    color: lightblue;
    position: absolute;
    top: 17vh;
    
}



/* Divesh neon animation */ 
/* Reference from a code pen : https://codepen.io/FelixRilling/pen/qzfoc */

x-sign {
    --interval: 1s;
    font-size: calc(1em + 4vmax);
    line-height: 1.1;
    
    text-shadow: 
      0 0 10px var(--color1),
      0 0 20px var(--color2),
      0 0 40px var(--color3),
      0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
  }

  x-sign {
    color: yellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: darkgreen;
 
    font-family: 'Monoton', cursive;
  }

  @keyframes flicker {
    50% {
      color: white;
      filter: saturate(200%) hue-rotate(20deg);
    }
  }

  /* My picture styling */

  .my-img{
      margin-right: 5%;
      position: absolute;
      padding: 2%;
      width: 70%;
     
    
      border-radius: 35%;
      
  }
  .typed-strings{
   color: yellowgreen;   
  }


/* Theme preference section styling */
#theme{
    text-align: center;
    display: unset;
    position: relative;
    height: 80vh;
    
    
    background-color: #0d335d;
}
.toast{
  position: absolute;
  z-index: 1;
  left: 3%;
}
/* Navbar styling */
.navbar{
  
    
    z-index: 100;
    position: sticky !important;
    top: 5px;
   border-radius: 10px;
  

    font-size: medium;
    font-weight: bold;
  
    background-color: #FFFFFF !important;
      
  }

  .theme-button{
      padding: 2%;
      margin-top: 10%;
      margin-bottom: 10%;
  }

  @media (max-width : 500px){
    .theme-button h2{
      font-size: large;
    }

    .theme-button[button]{
      width: 30vw !important;
    }
  }


  /* scroll animation */

 
@keyframes animate
{
    0%
  {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%
  {
        opacity: 1;
    }
    100%
  {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}



  /* Curvy dividers styling */

.custom-shape-divider-bottom-1610874033 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610874033 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 167px;
}

.custom-shape-divider-bottom-1610874033 .shape-fill {
    fill: #FFFFFF;
}



#about-me{
  padding: 2%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: #eff8ff;

 
    /* background-color: #232741; */
    height: 90vh;
}


/* About me left grid para styling */
@media (min-width : 600px){
.about-me-para{
  padding: 5%;
  font-size: larger;
  color: #0d335d;
  font-family: 'Poppins', sans-serif;
  text-align: left
}
}





/* Dark theme card styling */
/* 
Reference from a code pen : https://codepen.io/blackellis/pen/jObGbeG */


 





@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");



.card-custom {
  
    /* color for dark theme */
  /* background-color: #222831; */
  overflow: hidden;
    
  background-color: #eff8ff;
  height: 70vh;
  border: none;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: black;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px #232741;
}


.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btnn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.btnn:focus {
  outline: 2px dotted #55d7dc;
}


.social-icons {
 
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: #0d335d;
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}



/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ END OF CARD DESIGN $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */



/* skills new styling */
@media(max-width : 600px){
 
  
  #skills-section{
    margin-top: 35vh;
  }
}
]

@media(max-width : 320px){
 
  
  #skills-section{
    margin-top: 60vh;
  }
}

#skills-section{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 50px;

}



.grid-container{
  padding: 2%;
  padding-top: 100px;
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: auto auto auto auto auto;
  

}


.skill-row{
  padding: 3%;
}


.skill-box{
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  color: #9DA5B5;
  
}

.skill-article{
  
  opacity: 0;
    transition: 1s all;
  
  
  }





  /* changing another element on hover of other */


.skill-box:hover > .skill-article{

  opacity: 1;
}

.skill-box:hover{
  border: 1px solid lightgreen;
}


.skill-img{
  width: 150px;
}



@media (max-width : 600px){
  .grid-container{
    
    grid-template-columns: auto auto ;
  
  }

  .skill-img{
    width: 100px;
  }
}
















/* Certification Section */

@media (max-width : 800px){

  #certifications-section{
   margin-top: 70vh;
  }
 
  .certifications-container{
    padding-top: 15vh;
  }

 }


 @media (max-width : 800px) and (max-height : 670px){
  #certifications-section{
    margin-top: 100vh;
   }
  
   .certifications-container{
     padding-top: 20vh;
   }


 }


.certifications-container{
  position: relative;
  margin-top:8vh ;
  background: #FC466B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  font-family: 'Poppins', sans-serif;
 
  text-align: center;
}

.certifications-container h1{
  color: aliceblue;
}

.certifications-content{
  position: relative;
  padding-top: 15%;
}

.custom-shape-divider-top-1610996664 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1610996664 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 186px;
}

.custom-shape-divider-top-1610996664 .shape-fill {
  fill: #FFFFFF;
}



/* Certification card styling */

@media (max-width : 700px){
  .card{
    height: 95vh !important;
  }
}

.card{
  height: 87vh;
}


.btn-card{
  margin: 3%;
}






#projects-sections{
  height: 100vh;
}




 /* Experience Section */




#exp-sections{
  padding: 4%;
  padding-top: 4%;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}
 .exp-container{
   margin: 40px 10px 40px auto;
  transform-style: preserve-3d;
  transform: perspective(1000px);
   height: 550px;
   width: 950px;
   background: url("/images/cool-background_3.svg");
   background-color: #0d335d;
   border-radius: 25px;
 }

 .exp-container:nth-child(2){
  margin: 40px auto 40px 10px;
 transform-style: preserve-3d;
 transform: perspective(1000px);
  height: 550px;
  width: 950px;
  background: url("/images/cool-background_2.svg");
  background-color: #0d335d;
  border-radius: 25px;
}


 .exp-content{
   position: absolute;
   margin:50px ;
  transform: translateZ(20px);
   background-color:azure;
   opacity: .75;
   height: 450px;
   width: 850px;
   border-radius: 20px;
 }


 @media(max-width :800px){
  .exp-container{
    height: 70vh;
    width: 90vw;
    background-repeat: round;
  }

  .exp-container:nth-child(2){
    height: 70vh;
    width: 90vw;
    background-repeat: round;
  }

  .exp-content{
    font-size: x-small;
    padding: 8px;
    margin:20px ;
    height: 60vh;
    width: 80vw;
  }

 }



 .grid-container-exp{
  padding: 2%;
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: 35% 60% ;
  
 }